.p1{
    width: 65%;
    float: left;

}
.p2{
 width: 35%;
 float: left;
}
.p21{
    padding-left: 35px;
    padding-right: 20px;
    background-color: green;
    border-radius: 20px;
}
.name{
    width: 45%;
    background-color: grey;
    border-radius: 20px;
}
.s{
    background-color: yellow;
    border-radius: 20px;
    width: 15%;
}
body{
    background-color: orangered;
}
.na{
    background-color: grey;
    border-radius: 20px;
    width: 90%;
}